body,
h1,
p,
a,
ul,
li,
dt,
dd {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background: #999;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
}
.game-area {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
}

.option-box {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  .scoop-button,
  .flag-button,
  .restart-button,
  .mine-count,
  .panel-count,
  .time-count {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 30px;
    background: #000;
    color: #fff;
    border: 2px solid #000;
  }
  .restart-button {
    background: #999;
    color: #000;
    cursor: pointer;
  }
  &.tools {
    justify-content: center;
  }
  .scoop-button,
  .flag-button {
    font-size: 2em;
    padding: 20px;
    cursor: pointer;
    background: #fff;
    color: #000;
    transition: all .3s;
    &.active {
      background: #000;
      color: #fff;
    }
  }
}


.panels {
  display: grid;
  justify-content: center;
  // gap: 10px;
  // padding: 10px;
  background: url(../img/ai_kanabou_buki.png) center/contain;
  border: solid 1px #000;
  &.clear,
  &.gameover {
    position: relative;
    &::after {
      font-weight: bold;
      font-size: 50px;
      letter-spacing: 3px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &.clear {
    &::after {
      content: "CLEAR";
      color: #ff0000;
      background: rgba($color: #fff, $alpha: .6);
    }
  }
  &.gameover {
    &::after {
      content: "GAME OVER";
      color: #fff;
      background: rgba($color: #ff0000, $alpha: .6);

    }
  }
  .panel {
    aspect-ratio: 1/1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    transition: all .3s ease;
    border: solid 1px #000;
    &.open {
      pointer-events: none;
      background: rgba($color: #fff, $alpha: .8);
      border: solid 1px #000;
      box-sizing: border-box;
    }
    &.hit {
      background: red;
    }
    &.flag {
      background: yellow;
      &::before {
        content: "\f024";
        font-weight: 900;
        font-family: "Font Awesome 6 Free";
      }
    }
    &:hover {
      background: #fff;
      // opacity: .8;
      // border: 1px solid red;
    }
  }
  &.flag {
    .panel {
      cursor: help;
    }
  }
  &.side3 {
    $num:3;
    grid-template-columns: repeat(#{$num},1fr);
  }
  &.side5 {
    $num:5;
    grid-template-columns: repeat(#{$num},1fr);
  }
  &.side9 {
    $num:9;
    grid-template-columns: repeat(#{$num},1fr);
  }
}